# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [6]:
# Your code here:
count_leg_nleg = pokemon.Legendary.value_counts()
count_leg_nleg.index = ['Non legendary','Legendary']
count_leg_nleg

Non legendary    735
Legendary         65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [8]:
# Your code here:
mean_legendary = pokemon[pokemon.Legendary == True]['Total'].mean()
print('The mean of total points for legendary pokemon is: %f' % mean_legendary)
std_legendary = pokemon[pokemon.Legendary == True]['Total'].std()
print('The std of total points for legendary pokemon is: %f' % std_legendary)

mean_non_legendary = pokemon[pokemon.Legendary == False]['Total'].mean()
print('The mean of total points for non legendary pokemon is: %f' % mean_non_legendary)
std_non_legendary = pokemon[pokemon.Legendary == False]['Total'].std()
print('The std of total points for non legendary pokemon is: %f' % std_non_legendary)

The mean of total points for legendary pokemon is: 637.384615
The std of total points for legendary pokemon is: 60.937389
The mean of total points for non legendary pokemon is: 417.213605
The std of total points for non legendary pokemon is: 106.760417

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [3]:
# Your code here:
from scipy.stats import ttest_ind

#H0 = mean_legendary = mean_non_legendary
#H1 = mean_legendary != mean_non_legendary

ttest_ind(pokemon[pokemon.Legendary == True]['Total'],pokemon[pokemon.Legendary == False]['Total'],equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
# We can say that there is a significantly difference between the means for legendary and non-legendary total points.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [11]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ghost        32
Ground       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [23]:
# Your code here:
mean_water_pok = pokemon[pokemon['Type 1']=='Water']['Total'].mean()
std_water_pok = pokemon[pokemon['Type 1']=='Water']['Total'].std()
print(mean_water_pok)
print(std_water_pok)
comp_water = pd.DataFrame()
comp_water['mean'] = pokemon.groupby('Type 1')['Total'].mean()
comp_water['std'] = pokemon.groupby('Type 1')['Total'].std()

comp_water['mean_water_contrast'] = comp_water['mean'] - mean_water_pok
comp_water['std_water_contrast'] = comp_water['std'] - std_water_pok

comp_water

430.45535714285717
113.18826606431458

                mean         std  mean_water_contrast  std_water_contrast
Type 1
Bug       378.927536  117.875223           -51.527821        4.686957e+00
Dark      445.741935  109.126217            15.286578       -4.062049e+00
Dragon    550.531250  146.267538           120.075893        3.307927e+01
Electric  443.409091  105.721952            12.953734       -7.466314e+00
Fairy     413.176471  123.781680           -17.278887        1.059341e+01
Fighting  416.444444  102.464378           -14.010913       -1.072389e+01
Fire      458.076923  109.760496            27.621566       -3.427770e+00
Flying    485.000000  161.400124            54.544643        4.821186e+01
Ghost     439.562500  110.072685             9.107143       -3.115581e+00
Grass     421.142857  106.650626            -9.312500       -6.537640e+00
Ground    437.500000  123.913081             7.044643        1.072481e+01
Ice       433.458333  108.281027             3.002976       -4.907239e+00
Normal    401.683673  115.733038           -28.771684        2.544772e+00
Poison    399.142857   92.358687           -31.312500       -2.082958e+01
Psychic   475.947368  139.026645            45.492011        2.583838e+01
Rock      453.750000  108.059227            23.294643       -5.129039e+00
Steel     487.703704  115.420907            57.248347        2.232641e+00
Water     430.455357  113.188266             0.000000        2.842171e-14

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [26]:
# Your code here:
def perform_test_ind(s1,s2):
    t_test,p_value = ttest_ind(s1,s2)
    return p_value

pruebas_p_value = []
for i in comp_water.index:
    pruebas_p_value.append(perform_test_ind(pokemon[pokemon['Type 1']=='Water']['Total'],pokemon[pokemon['Type 1']==i]['Total'])) 

comp_water['pruebas_mean'] = pruebas_p_value
comp_water

,mean,std,mean_water_contrast,std_water_contrast,pruebas_mean
Type 1,,,,,
Bug,378.927536,117.875223,-51.527821,4.686957e+00,0.003855
Dark,445.741935,109.126217,15.286578,-4.062049e+00,0.503623
Dragon,550.531250,146.267538,120.075893,3.307927e+01,0.000002
Electric,443.409091,105.721952,12.953734,-7.466314e+00,0.513443
Fairy,413.176471,123.781680,-17.278887,1.059341e+01,0.563364
Fighting,416.444444,102.464378,-14.010913,-1.072389e+01,0.557826
Fire,458.076923,109.760496,27.621566,-3.427770e+00,0.144019
Flying,485.000000,161.400124,54.544643,4.821186e+01,0.352070
Ghost,439.562500,110.072685,9.107143,-3.115581e+00,0.686963
Grass,421.142857,106.650626,-9.312500,-6.537640e+00,0.581639
Ground,437.500000,123.913081,7.044643,1.072481e+01,0.761586
Ice,433.458333,108.281027,3.002976,-4.907239e+00,0.905598
Normal,401.683673,115.733038,-28.771684,2.544772e+00,0.070422
Poison,399.142857,92.358687,-31.312500,-2.082958e+01,0.177845
Psychic,475.947368,139.026645,45.492011,2.583838e+01,0.023681
Rock,453.750000,108.059227,23.294643,-5.129039e+00,0.243290
Steel,487.703704,115.420907,57.248347,2.232641e+00,0.020189
Water,430.455357,113.188266,0.000000,2.842171e-14,1.000000

Write your conclusion below.

In [10]:
# Your conclusions here:

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [4]:
# Your code here:
from scipy.stats import ttest_rel
ttest_rel(pokemon.Attack,pokemon.Defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:
# La prueba estadistica descarta la hip√≥tesis de que el promedio de ataque y defensa en las muestras sea cero.
# Por lo cual asumimos que existe una diferencia significativa entre el ataque y defensa en los pokemon.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [5]:
# Your code here:
ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
# No podemos descartar la hipotesis de que el promedio de ataque especial y defensa especial en los pokemon es cero.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [6]:
# Your code here:
from scipy.stats import ttest_1samp
ttest_1samp(pokemon['Sp. Atk']-pokemon['Sp. Def'],0)

Ttest_1sampResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [12]:
# Your code here:
leg_water_categoric = pd.crosstab(pokemon['Legendary'],pokemon['Type 1'] == 'Water')

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [14]:
# Your code here:
from scipy.stats import chi2_contingency
chi_stat,p_value,dof,expected = chi2_contingency(leg_water_categoric)
p_value

0.08625467249550949

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here:
# H0 = These categorical variables are independent.
# we can't reject the null hypothesis, it means that these categorical variables To be legendary is
# independent of to be water class. I cant reject that these variables are independent.